<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于-轻博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{template "common/link.html"}}
</head>
<body class="lay-blog">
		{{template "common/header.html" .}}
		<div class="container-wrap">
			<div class="container container-message container-details container-about">
					<div class="contar-wrap">
						<div class="item">
							<div class="item-box">
								<h3>关于</h3>
								<p>beego+layui轻博客</p>
								<p>读书是学习，使用也是学习，而且是更重要的学习。——毛泽东</p>
								<p>人不光是靠他生来就拥有一切，而是靠他从学习中所得到的一切来造就自己。——歌德</p>
								<p>青年是学习智慧的时期，中年是付诸实践的时期。——卢梭</p>
								<p>任何一个人，都要必须养成自学的习惯，即使是今天在学校的学生，也要养成自学的习惯，因为迟早总要离开学校的！自学，就是一种独立学习，独立思考的能力。行路，还是要靠行路人自己。——华罗庚</p>
								<p>学习从来无捷径，循序渐进登高峰。——高永祚</p>
								<div class="count layui-clear">
									<span class="pull-left">阅读 <em>100000+</em></span>
									<span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em>999</em></span>
								</div>
							</div>
						</div>			
					</div>
			</div>
		</div>
		{{template "common/footer.html" .}}
</body>
</html>